[Unit]
Description=Wallpaper renewal

[Service]
Type=oneshot
ExecStart=/home/martin/Downloads/systemd_timer_change_wallpaper/pick_random_wallpapers.sh

